@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    height: 100vh;
    margin: 0;
    background-image: radial-gradient(rgb(146, 185, 245), rgb(129, 231, 180));
}

/*   -----------------------   HEADER  -------------------------- */
.header {
    margin-top: 30px;
}

h1 {
    color: #ffffff;
    font-size: 3rem;
}

/*   -----------------------   CONTAINER -------------------------- */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* overflow: hidden; */
}

.containerList {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 40vw;
    border-radius: 50px;
    cursor: pointer;
    padding: 1rem;
    margin: 10px;
    background-color: #e4a1c0;
    /* overflow: hidden; */
}

/*   -----------------------   FORMS  -------------------------- */
form {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

form input,
form button {
    padding: 0.5rem;
    font-size: .8rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 50px;
}

input:focus {
    outline: none;
}

/*   -----------------------   TODO LIST  -------------------------- */
.todoList {
    padding: 0;
}

.todo-item-Div {
    background-color: rgba(255, 255, 255, 0.178);
    color: black;
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    transition: all 0.2s ease;
    border-radius: 50px;
    margin: 0.1rem;
}

.todo-item-li {
    padding: 1rem;
    list-style: none;
}

li {
    flex: 1;
}


@media (max-width: 500px) {
    .container {
        width: 100vw;
    }

    li {
        max-width: 60vw;
        overflow: hidden;
        white-space: nowrap;
    }

    input {
        max-width: 45vw;
    }
}

/*   -----------------------  ANIMATIONS  -------------------------- */
.trashButton,
.completedButton {
    background: #ffffff00;
    color: #000000;
    border: none;
    padding: 1.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    border-radius: 50px;
    align-items: flex-end;
}

.completed {
    text-decoration: line-through;
    font-size: .7rem;
    opacity: 0.5;
}

.fallAnimation {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.trashButton:hover {
    color: #ea4c04;
}

.completedButton:hover {
    color: #1e861b;
}

form button:hover {
    color: white;
}